<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../bb-code-execution/bb-code-execution.html">

<dom-module id="bb-source-code">
    <template>
        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>
        <bb-code-execution start-job="[[startJob]]" stop-job="[[stopJob]]"></bb-code-execution>

        peer ID: [[peerID]]
        <br>

        GitHub URL: <input id="repoURLInput" type="text" value="[[repoURL]]">
        <br>
        Script signature file path: <input id="filePathInput" type="text" value="[[filePath]]">
        <br>
        MIT PGP keyID: <input id="keyIDInput" type="text" value="[[keyID]]"> <button on-tap="loadAndVerifyClick">Load and Verify</button>
        <br>
        <br>
        <div>Source Code:</div>
        <textarea disabled style="resize: none; width: 500px; height: 500px" value="[[sourceCode]]"></textarea>
        <button on-click="startJobClick" disabled="[[!sourceCodeVerified]]">Start job</button>
        <button on-click="stopJobClick" disabled="[[!sourceCodeVerified]]">Stop job</button>
        <template is="dom-if" if="[[sourceCode]]">
            <div style="[[verifiedStyle]]">[[verifiedText]]</div>
        </template>
    </template>

    <script src="bb-source-code.ts"></script>
</dom-module>
