<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../bb-code-execution/bb-code-execution.html">

<dom-module id="bb-source-code">
    <template>
        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>
        <bb-code-execution start-job="[[startJob]]" stop-job="[[stopJob]]"></bb-code-execution>

        GitHub URL: <input id="repoURLInput" type="text">
        <br>
        Script file path: <input id="filePathInput" type="text"> <button on-tap="loadClick">Load</button>
        <br>
        <br>
        <div>Source Code:</div>
        <textarea disabled style="resize: none; width: 500px; height: 500px" value="[[sourceCode]]"></textarea>
        <button on-click="startJobClick">Start job</button>
        <button on-click="stopJobClick">Stop job</button>
        <template is="dom-if" if="[[sourceCode]]">
            <div style="[[verifiedStyle]]">[[verifiedText]]</div>
            <br>
            Signature file path: <input id="signatureFilePathInput" type="text">
            <br>
            MIT PGP keyID: <input id="keyIDInput" type="text"> <button on-tap="verifyClick">Verify</button>
        </template>
    </template>

    <script src="bb-source-code.ts"></script>
</dom-module>
