<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/simple-timer/simple-timer.html">

<dom-module id="bb-info">
    <template>
        <redux-store action="[[action]]" on-statechange="stateChange" on-subscribedtostore="subscribedToStore"></redux-store>

        p: [[p]]
        <br>
        q: [[q]]
        <br>
        n: <input id="nInput" type="text" disabled="[[true]]" on-input="nInputChanged" value="[[n]]">
        <br>
        Sqrt n: <input id="sqrtNInput" type="text" disabled="[[true]]" on-input="sqrtNInputChanged" value="[[sqrtN]]">
        <br>

        <br>
        Time elapsed: <simple-timer id="simpleTimer" start-time="10000000000000000000000" count-up="true"></simple-timer>
        <br>

        <div>Source connection: [[sourceConnection.peerID]]</div>
        <div></div>
        <br>
        <br>

        <div>Worker connections:</div>
        <dom-repeat items="[[workerConnections]]">
            <template>
                <div>[[item]]</div>
            </template>
        </dom-repeat>
        <br>
        <br>
    </template>

    <script src="bb-info.ts"></script>
</dom-module>
