<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../bb-source-code/bb-source-code.html">

<dom-module id="bb-app">
    <template>
        <redux-store root-reducer="[[rootReducer]]"></redux-store>

        <template is="dom-if" if="[[rootReducer]]">
            <bb-source-code></bb-source-code>
        </template>
    </template>

    <script src="bb-app.ts"></script>
</dom-module>
