<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../bb-info/bb-info.html">
<link rel="import" href="../bb-source-code/bb-source-code.html">
<link rel="import" href="../bb-web-rtc/bb-web-rtc.html">

<dom-module id="bb-app">
    <template>
        <redux-store action="[[action]]" root-reducer="[[rootReducer]]"></redux-store>

        <bb-info></bb-info>
        <bb-source-code></bb-source-code>
        <bb-web-rtc></bb-web-rtc>
    </template>

    <script src="bb-app.ts"></script>
</dom-module>
